<div class="container mx-auto p-6 bg-white dark:bg-gray-800 rounded-lg shadow">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Lista de Administradores</h2>

  <!-- Tabla de Usuarios -->
  <table class="w-full text-left text-gray-800 dark:text-gray-200">
    <thead>
      <tr class="border-b dark:border-gray-700">
        <th class="p-4">ID</th>
        <th class="p-4">Nombre de Usuario</th>
        <th class="p-4">Email</th>
        <th class="p-4">Nombres</th>
        <th class="p-4">Apellidos</th>
        <th class="p-4">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosPaginados" class="border-b dark:border-gray-700">
        <td class="p-4">{{ usuario.id_usuario }}</td>
        <td class="p-4">{{ usuario.nombre_usuario }}</td>
        <td class="p-4">{{ usuario.email }}</td>
        <td class="p-4">{{ usuario.nombres }}</td>
        <td class="p-4">{{ usuario.apellidos }}</td>
        <td class="p-4">
          <button (click)="iniciarEdicion(usuario)"
            class="bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-3 rounded">
            Editar
          </button>
          <button (click)="eliminarUsuario(usuario.id_usuario)"
            class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="flex justify-center mt-4">
    <button *ngFor="let page of [1, 2, 3, 4]" (click)="cambiarPagina(page)" [class.bg-blue-500]="currentPage === page"
      [class.bg-gray-300]="currentPage !== page" class="mx-1 px-3 py-1 rounded text-white hover:bg-blue-700">
      {{ page }}
    </button>
  </div>

  <!-- Formulario de Creación de Usuario (Oculto durante la edición) -->
  <div *ngIf="!enEdicion">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4 mt-10">Crear Nuevo Administrador</h2>
    <form [formGroup]="adminForm" (ngSubmit)="crearAdministrador()">
      <div class="flex flex-col mb-4">
        <label for="nombres" class="text-gray-700 dark:text-gray-300 mb-1">Nombres</label>
        <input formControlName="nombres" id="nombres" type="text" placeholder="Nombres"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="adminForm.get('nombres')?.errors && (adminForm.get('nombres')?.touched || adminForm.get('nombres')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="adminForm.get('nombres')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="apellidos" class="text-gray-700 dark:text-gray-300 mb-1">Apellidos</label>
        <input formControlName="apellidos" id="apellidos" type="text" placeholder="Apellidos"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="adminForm.get('apellidos')?.errors && (adminForm.get('apellidos')?.touched || adminForm.get('apellidos')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="adminForm.get('apellidos')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="email" class="text-gray-700 dark:text-gray-300 mb-1">Correo Electrónico</label>
        <input formControlName="email" id="email" type="email" placeholder="Correo Electrónico"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="adminForm.get('email')?.errors && (adminForm.get('email')?.touched || adminForm.get('email')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="adminForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
          <div *ngIf="adminForm.get('email')?.errors?.['email']">El formato del correo electrónico es inválido.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="password" class="text-gray-700 dark:text-gray-300 mb-1">Contraseña</label>
        <input formControlName="password" type="password" id="password" placeholder="Contraseña"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="adminForm.get('password')?.errors && (adminForm.get('password')?.touched || adminForm.get('password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="adminForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="adminForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="confirm_password" class="text-gray-700 dark:text-gray-300 mb-1">Confirmar Contraseña</label>
        <input formControlName="confirm_password" id="confirm_password" type="password"
          placeholder="Confirmar Contraseña"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="adminForm.get('confirm_password')?.errors && (adminForm.get('confirm_password')?.touched || adminForm.get('confirm_password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="adminForm.get('confirm_password')?.errors?.['required']">Es necesario confirmar la contraseña.
          </div>
        </div>
      </div>

      <!-- Error de Coincidencia de Contraseña -->
      <div
        *ngIf="adminForm.errors?.['mismatch'] && (adminForm.get('confirm_password')?.touched || adminForm.get('password')?.touched)"
        class="text-red-500 text-sm mb-4">
        Las contraseñas no coinciden.
      </div>

      <!-- Otros campos del formulario de creación, siguiendo el mismo estilo de diseño -->

      <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white py-2 rounded-md">Crear
        Administrador</button>
    </form>
  </div>

  <!-- Formulario de Edición de Usuario (Visible solo durante la edición) -->
  <div *ngIf="enEdicion">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4 mt-10">Editar Administrador</h2>
    <form [formGroup]="editForm" (ngSubmit)="guardarEdicion()">
      <div class="flex flex-col mb-4">
        <label for="nombre_usuario" class="text-gray-700 dark:text-gray-300 mb-1">Nombre de Usuario</label>
        <input formControlName="nombre_usuario" id="nombre_usuario" type="text" placeholder="Nuevo nombre de Usuario"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="editForm.get('nombre_usuario')?.errors && (editForm.get('nombre_usuario')?.touched || editForm.get('nombre_usuario')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="editForm.get('nombre_usuario')?.errors?.['required']">El nombre de usuario es requerido.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="nombres" class="text-gray-700 dark:text-gray-300 mb-1">Nombres</label>
        <input formControlName="nombres" id="nombres" type="text" placeholder="Nombres"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="editForm.get('nombres')?.errors && (editForm.get('nombres')?.touched || editForm.get('nombres')?.dirty)"
          class="text-red-500 text-sm mt-1">
          >
          <div *ngIf="editForm.get('nombres')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="apellidos" class="text-gray-700 dark:text-gray-300 mb-1">Apellidos</label>
        <input formControlName="apellidos" id="apellidos" type="text" placeholder="Apellidos"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="editForm.get('apellidos')?.errors && (editForm.get('apellidos')?.touched || editForm.get('apellidos')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="editForm.get('apellidos')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="email" class="text-gray-700 dark:text-gray-300 mb-1">Correo Electrónico</label>
        <input formControlName="email" id="email" type="email" placeholder="Correo Electrónico"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div *ngIf="editForm.get('email')?.errors && (editForm.get('email')?.touched || editForm.get('email')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="editForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
          <div *ngIf="editForm.get('email')?.errors?.['email']">El formato del correo electrónico es inválido.</div>\
        </div>
      </div>

      <div class="flex gap-4">
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white py-2 rounded-md">Guardar
          Cambios</button>
        <button type="button" (click)="cancelarEdicion()"
          class="w-full bg-gray-500 hover:bg-gray-700 text-white py-2 rounded-md">Cancelar</button>
      </div>
    </form>
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4 mt-10">
      Cambiar Contraseña
    </h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="cambiarContrasena()">
      <div class="flex flex-col mb-4">
        <label for="current_password" class="text-gray-700 dark:text-gray-300 mb-1">Contraseña Actual</label>
        <input formControlName="current_password" type="password" id="current_password" placeholder="Contraseña Actual"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="changePasswordForm.get('current_password')?.errors && (changePasswordForm.get('current_password')?.touched || changePasswordForm.get('current_password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="changePasswordForm.get('current_password')?.errors?.['required']">La contraseña actual es
            obligatoria.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="password" class="text-gray-700 dark:text-gray-300 mb-1">Contraseña</label>
        <input formControlName="password" type="password" id="password" placeholder="Contraseña"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="changePasswordForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="changePasswordForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6
            caracteres.</div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label for="confirm_password" class="text-gray-700 dark:text-gray-300 mb-1">Confirmar Contraseña</label>
        <input formControlName="confirm_password" id="confirm_password" type="password"
          placeholder="Confirmar Contraseña"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="changePasswordForm.get('confirm_password')?.errors && (changePasswordForm.get('confirm_password')?.touched || changePasswordForm.get('confirm_password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="changePasswordForm.get('confirm_password')?.errors?.['required']">Es necesario confirmar la
            contraseña.</div>
        </div>
      </div>
      <div
        *ngIf="changePasswordForm.errors?.['mismatch'] && (changePasswordForm.get('confirm_password')?.touched || changePasswordForm.get('password')?.touched)"
        class="text-red-500 text-sm mb-4">
        Las contraseñas no coinciden.
      </div>
      <div class="flex gap-4">
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white py-2 rounded-md">
          Cambiar Contraseña
        </button>
      </div>
    </form>

  </div>
</div>
