<div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        {{registroEmpresa ?"Registro de Empresa":"Registrate" }}
      </h2>
    </div>
    <!-- Cambia a grid y utiliza clases responsivas -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label for="nombres" class="text-gray-700 dark:text-gray-300 mb-1">Nombres</label>
        <input formControlName="nombres" id="nombres" type="text" required
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Ingrese sus nombres" />
        <div
          *ngIf="signupForm.get('nombres')?.errors && (signupForm.get('nombres')?.touched || signupForm.get('nombres')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="signupForm.get('nombres')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="apellidos" class="text-gray-700 dark:text-gray-300 mb-1">Apellidos</label>
        <input formControlName="apellidos" id="apellidos" type="text" required
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Ingrese sus apellidos" />
        <div
          *ngIf="signupForm.get('apellidos')?.errors && (signupForm.get('apellidos')?.touched || signupForm.get('apellidos')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="signupForm.get('apellidos')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="email" class="text-gray-700 dark:text-gray-300 mb-1">Correo Electrónico</label>
        <input formControlName="email" id="email" type="email" required
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Ingrese su correo" />
        <div
          *ngIf="signupForm.get('email')?.errors && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="signupForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
          <div *ngIf="signupForm.get('email')?.errors?.['email']">El formato del correo electrónico es inválido.</div>
        </div>
      </div>
    </div>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label for="password" class="text-gray-700 dark:text-gray-300 mb-1">Contraseña</label>
        <input formControlName="password" id="password" type="password" required
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Ingrese su contraseña" />
        <div
          *ngIf="signupForm.get('password')?.errors && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="signupForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="signupForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="confirm_password" class="text-gray-700 dark:text-gray-300 mb-1">Confirmar Contraseña</label>
        <input formControlName="confirm_password" id="confirm_password" type="password" required
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Confirme su contraseña" />
        <div
          *ngIf="signupForm.get('confirm_password')?.errors && (signupForm.get('confirm_password')?.touched || signupForm.get('confirm_password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="signupForm.get('confirm_password')?.errors?.['required']">Es necesario confirmar la contraseña.
          </div>
        </div>
      </div>
      <div
        *ngIf="signupForm.errors?.['mismatch'] && (signupForm.get('confirm_password')?.touched || signupForm.get('password')?.touched)"
        class="text-red-500 text-sm mb-4">
        Las contraseñas no coinciden.
      </div>
    </div>
    <div class="mt-6">
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full transition-colors duration-200">
        Registrarse
      </button>
    </div>
  </form>
</div>
