<div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Realizar Transferencia</h2>
  <form [formGroup]="transferForm" (ngSubmit)="realizarTransferencia()">
    <!-- Saldo disponible -->
    <div class="mb-4">
      <p class="text-gray-700 dark:text-gray-300 mb-1">Saldo Disponible:</p>
      <p class="text-xl font-semibold text-green-500">{{ saldoDisponible | currency:'GTQ' }}</p>
    </div>

    <!-- Monto a Transferir -->
    <div class="flex flex-col mb-4">
      <label for="monto" class="text-gray-700 dark:text-gray-300 mb-1">Monto a Transferir</label>
      <input formControlName="monto" id="monto" type="number" placeholder="0.00" [readOnly]="saldoDisponible === 0"
        class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      <div *ngIf="transferForm.get('monto')?.hasError('required') && transferForm.get('monto')?.touched" class="text-red-500 text-sm mt-1">
        El monto es requerido.
      </div>
      <div *ngIf="transferForm.get('monto')?.hasError('min')" class="text-red-500 text-sm mt-1">
        El monto debe ser mayor que 0.
      </div>
      <div *ngIf="transferForm.get('monto')?.hasError('max')" class="text-red-500 text-sm mt-1">
        El monto no puede superar el saldo disponible.
      </div>
      <div *ngIf="saldoDisponible === 0" class="text-red-500 text-sm mt-1">
        No tienes saldo disponible para realizar un retiro.
      </div>
    </div>

    <!-- Botón de Enviar -->
    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-700">Transferir</button>
    </div>
  </form>
</div>
