<!-- sidebar.component.html -->
<div class="flex flex-col h-screen bg-gray-800">
  <div class="flex items-center justify-center py-4">
    <h1 class="text-white text-xl font-bold">Dashboard</h1>
  </div>
  <nav class="mt-10">
    <ul>
      <li>
        <a routerLink="/dashboard/empresas" class="text-gray-300 hover:bg-gray-600 hover:text-white block py-2 px-4">Empresas</a>
      </li>
      <li>
        <a routerLink="/dashboard/usuarios" class="text-gray-300 hover:bg-gray-600 hover:text-white block py-2 px-4">Usuarios</a>
      </li>
      <li>
        <a routerLink="/dashboard/admins" class="text-gray-300 hover:bg-gray-600 hover:text-white block py-2 px-4">Administradores</a>
      </li>
      <li>
        <a routerLink="/dashboard/reportes" class="text-gray-300 hover:bg-gray-600 hover:text-white block py-2 px-4">Reportes</a>
      </li>
    </ul>
  </nav>
</div>
