<div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Editar Perfil de Usuario</h2>

  <!-- Formulario de edición de datos del usuario -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label for="nombre_usuario" class="text-gray-700 dark:text-gray-300 mb-1">Nombre de Usuario</label>
        <input formControlName="nombre_usuario" id="nombre_usuario" type="text"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="userForm.get('nombre_usuario')?.errors && (userForm.get('nombre_usuario')?.touched || userForm.get('nombre_usuario')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="userForm.get('nombre_usuario')?.errors?.['required']">El nombre de usuario es requerido.</div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="email" class="text-gray-700 dark:text-gray-300 mb-1">Correo Electrónico</label>
        <input formControlName="email" id="email" type="email"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div *ngIf="userForm.get('email')?.errors && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="userForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
          <div *ngIf="userForm.get('email')?.errors?.['email']">El formato del correo electrónico es inválido.</div>\
        </div>
      </div>
      <div class="flex flex-col">
        <label for="nombres" class="text-gray-700 dark:text-gray-300 mb-1">Nombres</label>
        <input formControlName="nombres" id="nombres" type="text"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="userForm.get('nombres')?.errors && (userForm.get('nombres')?.touched || userForm.get('nombres')?.dirty)"
          class="text-red-500 text-sm mt-1">
          >
          <div *ngIf="userForm.get('nombres')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="apellidos" class="text-gray-700 dark:text-gray-300 mb-1">Apellidos</label>
        <input formControlName="apellidos" id="apellidos" type="text"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="userForm.get('apellidos')?.errors && (userForm.get('apellidos')?.touched || userForm.get('apellidos')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="userForm.get('apellidos')?.errors?.['required']">Este campo es obligatorio.</div>
        </div>
      </div>
    </div>
    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-700">Guardar
        Cambios</button>
    </div>
  </form>

  <!-- Formulario de edición de datos de la cuenta -->
  <div *ngIf="isCliente()">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6 mt-10">Editar Datos de la Cuenta</h2>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmitAccountForm()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label for="numero_cuenta" class="text-gray-700 dark:text-gray-300 mb-1">Número de Cuenta</label>
          <input formControlName="numero_cuenta" id="numero_cuenta" type="text"
            class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
          <div
            *ngIf="accountForm.get('numero_cuenta')?.errors && (accountForm.get('numero_cuenta')?.touched || accountForm.get('numero_cuenta')?.dirty)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="accountForm.get('numero_cuenta')?.errors?.['whitespace']">El número de cuenta no puede contener
              espacios en blanco.</div>
          </div>
        </div>
        <!-- Selección de Entidad Financiera -->
        <div class="flex flex-col">
          <label for="id_entidad_financiera" class="text-gray-700 dark:text-gray-300 mb-1">Entidad Financiera</label>
          <select formControlName="id_entidad_financiera" id="id_entidad_financiera"
            [(ngModel)]="selected_entidad_financiera"
            class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <option [value]="0">Ninguna</option>
            <option *ngFor="let entidad of entidadesFinancieras" [value]="entidad.id">
              {{ entidad.nombre }}
            </option>
          </select>
          <div
            *ngIf="accountForm.errors?.['acountrequired'] && (accountForm.get('id_entidad_financiera')?.touched || accountForm.get('numero_cuenta')?.touched)"
            class="text-red-500 text-sm mb-4">
            Si se coloca un número de cuenta, es necesario seleccionar una entidad financiera y viceversa.
          </div>
        </div>
        <div class="flex flex-col">
          <label for="pin" class="text-gray-700 dark:text-gray-300 mb-1">Pin</label>
          <div class="relative">
            <input
              formControlName="pin"
              [type]="showPin ? 'text' : 'password'"
              id="pin"
              class="w-full border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            />
            <button
              type="button"
              (click)="toggleShowPin()"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 dark:text-gray-300 focus:outline-none"
            >
              <span *ngIf="showPin">🙈</span>
              <span *ngIf="!showPin">👁️</span>
            </button>
          </div>
          <div
            *ngIf="accountForm.get('pin')?.errors && (accountForm.get('pin')?.touched || accountForm.get('pin')?.dirty)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="accountForm.get('pin')?.errors?.['whitespace']">El pin no puede contener
              espacios en blanco.</div>
          </div>
          <div
            *ngIf="accountForm.errors?.['pinrequired'] && (accountForm.get('pin')?.touched || accountForm.get('numero_cuenta')?.touched)"
            class="text-red-500 text-sm mb-4">
            Si se coloca un número de cuenta, es necesario seleccionar una entidad financiera y viceversa.
          </div>
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-700">Guardar
          Cambios</button>
      </div>
    </form>
  </div>

  <!-- Formulario de cambio de contraseña -->
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6 mt-10">Cambiar Contraseña</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col col-span-2">
        <label for="current_password" class="text-gray-700 dark:text-gray-300 mb-1">Contraseña Actual</label>
        <input formControlName="current_password" id="current_password" type="password"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="passwordForm.get('current_password')?.errors && (passwordForm.get('current_password')?.touched || passwordForm.get('current_password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="passwordForm.get('current_password')?.errors?.['required']">La contraseña actual es
            obligatoria.</div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="password" class="text-gray-700 dark:text-gray-300 mb-1">Nueva Contraseña</label>
        <input formControlName="password" id="password" type="password"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="passwordForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="passwordForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6
            caracteres.</div>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="confirm_password" class="text-gray-700 dark:text-gray-300 mb-1">Confirmar Nueva Contraseña</label>
        <input formControlName="confirm_password" id="confirm_password" type="password"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        <div
          *ngIf="passwordForm.get('confirm_password')?.errors && (passwordForm.get('confirm_password')?.touched || passwordForm.get('confirm_password')?.dirty)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="passwordForm.get('confirm_password')?.errors?.['required']">Es necesario confirmar la
            contraseña.</div>
        </div>
      </div>
    </div>
    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-700">Actualizar
        Contraseña</button>
    </div>
  </form>
</div>
